<!DOCTYPE html>
<html>
<head>
  <title>Celine Yeh</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_base.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block css %}{% endblock %}
</head>
<body>
<div id="sidebar">
  <a id="close-sidebar"><i class="fa fa-times"></i></a>
  <a href="#">About</a>
  <a href="#">Blog</a>
</div>

<div id="open-sidebar"><i class="fa fa-bars fa-2x"></i></div>

<div id="main">
{% block content %}{% endblock %}
</div>

<script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/_base.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>